.dbg [class*="col"]:not([class*="row"]) {
  background-color: rgb(61, 187, 230);
  border: 1px solid rgb(245, 95, 35);
  height: 100px;
  padding: 20px;
}
.bg_darkblue {
  background-color: #2c3e50;
}
.bg_green {
  background-color: #4ebd9c;
}

.navbar-toggler.white_border {
  border-color: white;
}

.avatar {
  width: 200px;
}
.jumbo_text h1:after {
}
